<%- include('./partials/headHeader') %>
<body>
    <div class="mainContent">
        <h1>EMPLOYEE LIST</h1>
    <div class = "listEmployees">
        <% employees.forEach((employee)=> { %>
                <div class="block">
                    <h4>Employee Name: <%= employee.name %></h4>
                    <p><strong>Department: </strong><%= employee.department %></p>
                    <p><strong>Position: </strong><%= employee.position %></p>
                    <p><strong>Payment Type: </strong><%= employee.paymentType %></p>
                    <div id="buttons">
                        <a href="http://localhost:4000/updateEmployee/<%=employee.name %>"><button id = "update">Update</button></a>
                        <a href="http://localhost:4000/deleteEmployee/<%=employee.name %>"><button id = "delete">Delete</button></a> 
                    </div>
                   <a href="http://localhost:4000/submitSchedule/<%=employee.name %>"><button id = "schedule">Submit Schedule</button></a> 
                   

                </div>
            <% }) %>
        </div>
    </div>
</body>